<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237104223474-tso8s6r621imca42sk8a8gq8m74nj2b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237104223474-tso8s6r621imca42sk8a8gq8m74nj2b2</string>
	<key>API_KEY</key>
	<string>AIzaSyDdRjILeSut80C_vXFxdMy-neZReSugeZg</string>
	<key>GCM_SENDER_ID</key>
	<string>237104223474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ha.SecondBelt-Exam</string>
	<key>PROJECT_ID</key>
	<string>grocery-4b4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-4b4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237104223474:ios:619975be6cf125a95f2c6b</string>
</dict>
</plist>